name: Upload to PIP

on:
  release: 
    types: [created]
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: "Installs dependencies"
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools wheel twine
      - name: "Builds and uploads to PyPI"
        run: |
          python setup.py sdist bdist_wheel
          python -m twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TWINE_TOKEN }}
